.ql-toolbar.ql-snow {
  border: 0;
}
.publish {
  margin: 20px 0 0 20px;
  padding: 7px 14px;
  font-size: 12px;
  color: #ffffff;
  background: #3e89fa;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  border-bottom-color: #2b71d9;
  text-decoration: none;
  cursor: pointer;
}
.content {
  padding: 5px 5px 0 5px;
}
.input-box {
  width: 50%;
}
.full-editor {
  width: 100%;
}
.full-editor #myEditor {
  max-height: 400px;
}
.full-editor #myEditor img {
  max-width: 80%;
}
.edui-editor-body .edui-body-container {
  padding: 0 1px 0;
}
