{{#section "head"}}
    <link rel='stylesheet' href='{{@static_url}}/styles/bindphone.css'/>
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/bindphone.js"></script>
{{/section}}

<div id="page">
    <ul class="menulist">
        <li>
                <span class="lineform">
                    <b id="phonelab">手机号：</b> <span id="showQQ" class="detailinfo"><input type="text" placeholder="请输入手机号码" id="txt_mobile" /></span>
                </span>
        </li>
        <li>
                <span class="lineform">
                    <b>验证码：</b> <span id="showQQ" class="detailinfo"><input type="text" placeholder="请输入验证码" id="txt_code" /></span>
                <em id="getmsgyzm" class="btn_dxyzm"><span id="mfyz">免费验证</span></em>
                </span>
        </li>
    </ul>
    <div id="fbtns">
        <a id="btn_bind_phone" class="mybutton">确定</a>
    </div>
    <div class="tips">
        <p>郑重承诺：</p>
        <ul>
            <li>手机号仅作为身份验证，无任何费用产生。</li>
            <li>绑定好手机之后，可直接使用手机登录。</li>
            <li>本公司承诺保证您的隐私权益，不泄漏您的手机。</li>
        </ul>
    </div>
</div>