{{#section "head"}}
    <link rel='stylesheet' href='{{@static_url}}/styles/demo.css'/>
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/demo.js"></script>
{{/section}}

<article class="content">
    <header class="title">
        <h4>对于不穿胖次的人，你们怎么看？</h4>
        <p class="info">分类：<u class="tag" @click="barrage('今年特别多！')">二次元交流</u><u class="tag">胖次</u><u class="tag">生物工程学</u><time datetime="2018-01-01">2018-01-01</time></p>
    </header>
    <div id="barrage" class="barrage">

    </div>
    <section id="main-body" class="main-body">
        <p>宇宙大爆炸初，在正粒子与反粒子不断的创生和湮灭中(宇宙中的重子数为零），直到希格斯玻色子(上帝粒子）的过程下，使夸克和轻子的数量略微超过了反夸克和反轻子的数量(约三千万分之一量级)，被称作重子数产生。这一机制导致当今宇宙中物质相对于反物质的主导地位，而形成正物质主体的时间空间。希格斯玻色子被称为物质的质量之源。</p>
        <p>爱因斯坦提出广义相对论，空间和时间不仅受运动状态影响，质量和能量出现时，还会发生弯曲。实际上，广义相对论的时空弯曲的几何形式总是与量子力学的微观运动相矛盾。同时为将量子场论的三种不同的基本交互作用，即强交互作用、弱交互作用和电磁交互作用，统一成为单独一种对称性(一个理论的拉格朗日量或运动方程在某些变量的变化下的不变性，如牛顿运动方程的伽利略变换，麦克斯韦方程的洛伦兹变换）主控的交互作用。</p>
        <p>上世纪80年代提出弦理论，结合量子力学和广义相对论为量子引力。弦理论用一段段“能量弦线”作最基本单位以说明世界上所有物质结构，大至星际银河，小至电子、质子及夸克一类的基本粒子都由这一维的“能量线”所组成。更深的弦理论学说不只是描述弦状物体，还包含了点状、薄膜状物体，更高维度的空间，甚至平行宇宙。</p>
        <p>欧洲原子能机构使用强对撞机发现SM（标准模型）最后一种未被发现的粒子(上帝粒子)，英国广播公司进行记录，实验错误巧合之下对撞而出“永生粒子”被称为生命之源，发出量子缠绕状态，吸引了在乱流中的“门”，太阳密度变化成深蓝恒星，如同行走在热带雨林的心灵猎手，在原著民的注视下，施展神密的巫术，混沌理论的雨水弥漫。</p>
    </section>
    <div class="judgement">
        <a class="praise">赞</a><a class="tread">踩</a>
    </div>
    <div id="comment" @click="discuss()">我要逼逼</div>
    <div id="comment-box">
        <p>你想吐槽啥？</p>
        <input placeholder="最多15字" value="" />
    </div>

</article>