{{#section "head"}}
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/pay/wxpay.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
{{/section}}

<div class="" style="text-align: center;margin-top: 50px;" id="wxpay">
    <input id = "wxpaybtn" type="button" value="支付">
</div>